Django==1.11.28
Jinja2==2.10.1
MarkupSafe==0.23
argparse==1.2.1
biopython==1.62
django-haystack==2.7.0
django-tables2==1.16.0
lxml==4.6.5
psycopg2==2.7.5
pyelasticsearch==1.4.1
pypugjs==5.7.1
requests==2.20.0
simplejson==3.4.1
six==1.4.1
uWSGI==2.0.17.1
wsgiref==0.1.2
