extends base

block title
    title About | The Naked Mole-Rat Genome Resource

block content
    header.page-header
        div.container
            h1 About this project
    div.container
        div.row
            div.col-md-12
                
                h2 What is the Naked Mole-Rat?

                p The naked mole-rat (<a href="http://genomics.senescence.info/species/entry.php?species=Heterocephalus_glaber">Heterocephalus glaber</a>) is a long lived subterranean rodent from the Horn of Africa. The general appearance is that of a small (8 to 10cm long) wrinkled pink animal with overlarge front teeth. The naked mole-rat lives in an underground burrow system that has led to a number of adaptions such as the general inability to regulate body temperature (underground temperature is relatively stable), low metabolic and respiratory rates and the lack of reaction to pain in the animals skin.

                p They live in a colony with a complex social structure, ranging in size from 75 to 200 individuals. There is a single breeding queen and one to three breeding males. The other individuals in the colony are temporary sterile workers that collect food and defend the colony. Once the queen dies one of the sterile females will take over the position, loosing its sterility.

    div.alt-content-section.no-image
        div.container
            div.row
                div.col-md-12
                    h2 Why the Naked Mole-Rat?
            div.row
                div.col-md-6
                    p Naked mole-rats can live over 30 years which makes this species the longest-lived rodent with a much longer lifespan than expected for their relatively small body size (see figure). Because naked mole-rats can live remarkably longer than similar-sized rodents, such as mice and rats that can only live up to 4-5 years, it can be used as a model of resistance to disease and, in fact, naked mole-rats are extremely resistant to cancer. Therefore, sequencing its genome provides the sophisticated molecular biology tools necessary for naked mole-rats to be used not only as another model of human biology but primarily as the first model of resistance to chronic diseases of ageing. We hope that our efforts will encourage further studies of naked mole-rats.

                    p Although there are longer-lived mammals than humans, such as the <a href="http://genomics.senescence.info/species/entry.php?species=Balaena_mysticetus">bowhead whale</a>, studies in naked mole-rats have the advantage that they can be conducted in parallel with closely-related short-lived species, in particular omice and rats. Researchers are thus able to study mechanisms and genes previously associated with ageing, cancer and other diseases using a unique comparative approach. Such studies will increase our understanding of the evolution of longevity as well as of the molecular, cellular, and genetic mechanisms of ageing. Moreover, insights obtained in naked mole-rats will drive experiments in more traditional models, in particular by taking advantage of the mouse as a surrogate system to study the naked mole-rat genome.

                div.col-md-6
                    figure
                        img(src="/static/images/species_longevity.gif", width="479", height="318", alt="Species longevity showing the naked mole-rat as an outlier outside of the general trend, with a high longetivity but low body mass")
                        figcaption
                            span Plot of the relationship between log-transformed maximum longevity and typical adult body mass for non-volant mammals (n = 820). Heterocephalus glaber (H. g.) is highlighted by a red square. H. s. = Homo sapiens (in blue). Data from build 9 of the <a href="http://genomics.senescence.info/species/">AnAge Database of Animal Ageing and Longevity</a>.
    
    div.container
        div.row
            div.col-md-12
                h2 Who is working on this project?

                p <a href="http://pcwww.liv.ac.uk/~aging/">The Integrative Genomics of Ageing Group</a> (PI: João Pedro de Magalhães) at Liverpool University is leading this project, analysing the genomic data to generate meaningful results. The sequencing and assembly was provided by <a href="http://www.tgac.bbsrc.ac.uk/">The Genome Analysis Centre (TGAC)</a>, who are also collaborating on other aspects of the project as well.

                p Other collaborators include George Church (Harvard Medical School), John Sedivy (Brown University), Steven Austad & Rochelle Buffenstein (Barshop Institute), Chris Faulkes (Queen Mary, University of London), Clive Coen (King's College London), Caleb Finch (University of Southern California) and Matthias Platzer (Leibniz Institute for Age Research).
                
                h2 What is the current status of this project?

                p The Heterocephalus genome was sequenced at over 20x using Illumina/Solexa and a genome assembly created. A <a href="/blast">BLAST server</a> and <a href="/downloads#fasta">contigs</a> are available on this site for the community to use, but this is still a preliminary assembly.

                p We are currently refining, annotating and analysing the genome assembly. If you wish to collaborate with us on this exciting project please <a href="http://pcwww.liv.ac.uk/~aging/contact.html">contact us</a>.

                h2 Conditions of use

                p This data may be freely downloaded and used in accordance with the established pre-publication data sharing standards such as the Toronto agreement.

                div.panel.panel-default
                    div.panel-body <a href="http://www.nature.com/nature/journal/v461/n7261/full/461168a.html">Prepublication data sharing, Nature 461, 168-170 (10 September 2009)</a>

                p In brief the data can be freely used for small scale analysis without <a href="http://pcwww.liv.ac.uk/~aging/contact.html">contacting us</a> (e.g. studies focused on particular genes or regions, though please cite our website as the source of the data). We are further refining the data set so large scale analysis should be carried out in collaboration with the consortium or by <a href="http://pcwww.liv.ac.uk/~aging/contact.html">contacting us</a> as to avoid redundant efforts.

                h2 How to cite this resource
                a#how-to-cite-this-resource

                p To cite this resource:

                div.panel.panel-default
                    div.panel-body Naked Mole-Rat Genome Resource 2013. http://naked-mole-rat.org

                h2 References

                ol
                    li Edrey YH, Park TJ, Kang H, Biney A, Buffenstein R. (2011). Endocrine function and neurobiology of the longest-living rodent, the naked mole-rat Exp Gerontol 46, 116-123.
                    li de Magalhaes JP, Sedivy JM, Finch CE, Austad SN, Church GM. (2007). A proposal to sequence genomes of unique interest for research on aging. J Gerontol A Biol Sci Med Sci 62, 583-584. <a href="http://genomics.senescence.info/sequencing/heterocephalus.html">Available online</a>
