extends base

block title
    title 500: Server Error | The Naked Mole-Rat Genome Resource

block content
    header.page-header
        div.container
            h1 500: Server Error 
    div.container
        div.row
            div.col-md-12
                h2 The page you have tried to access has thrown an error. 
                
                p Please try to reload the page; If the problem persists please <a href="http://pcwww.liv.ac.uk/~aging/contact.html">contact us</a> to inform us of this issue, stating the page where the issue occurs and any relevant information that would allow us to replicate the issues.
