extends base

block title
    title Downloads | The Naked Mole-Rat Genome Resource

block content
    header.page-header
        div.container
            h1 Downloads

    div.container
        div.row
            div.col-md-6
                p This data may be freely downloaded and used in accordance with established pre-publication data sharing standards such as the Toronto agreement.

                div.panel.panel-default
                    p.panel-body: a(href="http://www.nature.com/nature/journal/v461/n7261/full/461168a.html") Prepublication data sharing, Nature 461, 168-170 (10 September 2009)

                p In brief tRAWhe data can be freely used for small scale analysis without <a href="http://pcwww.liv.ac.uk/~aging/contact.html">contacting us</a> (e.g. studies focused on particular genes or regions, though please <a href="/about#how-to-cite-this-resource">cite our website as the source of the data</a>). We are further refining the data set so large scale analysis should be carried out in collaboration with the consortium or by <a href="http://pcwww.liv.ac.uk/~aging/contact.html">contacting us</a> as to avoid overlapping efforts.

            div.col-md-6
                div.panel.panel-default
                    div.panel-heading: strong BLAST database
                    div.panel-body
                        a#BLAST
                        p Due to the limited power of this server for large BLAST queries you can download the database as a ZIP file.

                        p Please consult with the NCBI documentation on how to use these files.

                        a(href="/static/downloads/naked_mole_rat_blast_database.zip") Download file

                div.panel.panel-default
                    div.panel-heading: strong FASTA files
                    div.panel-body
                        a#FASTA
                        p The FASTA file is provided as a zip file for compression. It contains a FASTA file with all contigs with a length greater than 500 bases.

                        a(href="/static/downloads/naked_mole_rat_contigs.zip") Download file

                div.panel.panel-default
                    div.panel-heading: strong Raw reads
                    div.panel-body
                        a#RAW
                        p We are in the process of submitting the raw reads to the EBI Short Read Archive. Once they are available a link will be provided here; In the meantime if you wish to employ this data please <a href="http://pcwww.liv.ac.uk/~aging/contact.html">contact us directly</a>.
