extends base

block title
    title Gene Expression | The Naked Mole-Rat Genome Resource

block content
    header.page-header
        div.container
            h1 Gene Expression
    div.container
        div.row
            div.col-md-6
                p We employed next-generation sequencing platforms (Illumina/Solexa and 454) to sequence the transcriptome of the naked mole-rat which allowed us to compare liver gene expression profiles between naked mole-rats and wild-derived mice. Our results indicate that genes associated with oxidoreduction and mitochondria are expressed at higher levels in naked mole-rats. We also identified a number of candidate genes that may help explain the longevity and cancer-resistance of naked mole-rats and may serve as foci for further studies. This work provides methods and hypothesis for further understanding the naked mole-rat's fascinating characteristics.

                p In this page you will find the results and datasets derived from our analysis, including the supplementary material, previously described in:

                div.panel.panel-default
                    div.panel-body Yu, C., Li, Y., Holmes, A., Szafranski, K., Faulkes, C. G., Coen, C. W., Buffenstein, R., Platzer, M., de Magalhaes J. P., Church, G. M. (2011) <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=22073188&dopt=Abstract">RNA sequencing reveals differential expression of mitochondrial and oxidation reduction genes in the long-lived naked mole-rat (Heterocephalus glaber) when compared to mice.</a> PLoS ONE 6:e26729.

            div.col-md-6
                div.panel.panel-default
                    div.panel-heading: strong Supplementary material
                    p.panel-body <a href="http://naked-mole-rat.org/RNA_seq_supplements.zip">RNA_seq_supplements.zip</a>, full results for all genes and functional enrichment analysis.

                div.panel.panel-default
                    div.panel-heading: strong Raw data
                    div.panel-body 
                        p Raw Illumina/Solexa reads are available in the Gene Expression Omnibus (GEO) repository under accession <a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE30764">GSE30764</a>.

                        p The raw naked mole-rat 454 raw data are available at the <a href="http://genome.imb-jena.de/mrat_blast/nmr_pool1.zip">Leibniz Institute for Age Research</a>.

