div.panel.panel-default.panel-nmr
    div.panel-heading
        h2 Searching the genome
    div.panel-body
        form(method="get", action="/annotations/results/", role="form").row.homepage-search-container-form
            div.col-md-10.col-md-offset-1
                div.input-group
                    input(type="text", name="s", value="{{term|default:""}}").form-control
                    span.input-group-btn
                        button(type="submit").btn.btn-default.btn-nmr Search

        p You can search using either a gene name, Ensembl identifier (from Mouse) or Naked Mole-Rat sequence ID
