extends base

block title
    title About | The Naked Mole-Rat Genome Resource

block content
    header.page-header
        div.container
            h1 Annotation the Naked-Mole Rat genome
    div.container
        div.row
            div.col-md-12
                p About the annotations stuff goes here
