html
    head
        title Raw sequence for {{details.identifier}}
    body(style="width: 100%")
        <pre style="word-wrap: break-word; word-break: break-word; width: 100%;">>{{details.identifier}}
        {{details.sequence}}
        </pre>

