extends base
{% load django_tables2 %}

block title
    title The Naked Mole-Rat Genome Resource

block content
    header.page-header
        div.container
            h1 Genome annotations search results
    div.page.container
        div.row
            div.col-md-12
                {% include 'search_box.pug' %}
        div.row
            div.col-md-12
                h2 Search results ({{results.paginator.count}} matches) 
                form(method="get", action="{% url 'annotations:annotation_results' %}").panel.panel-default
                    input(type="hidden", name="sort", value="{{sort}}")
                    input(type="hidden", name="page", value="{{page|default:'1'}}")
                    input(type="hidden", name="s", value="{{term|default:""}}")
                    div.panel-heading
                        div: strong Filter
                    div.panel-body.row
                        div.col-md-6
                            div.form-group
                                label.col-lg-2.control-label By Type
                                div.col-lg-10
                                    select(name="type").form-control
                                        option(value="") Show all
                                        for t in types
                                            if type == t.name 
                                                option(value="{{t.name}}", selected="selected") {{t.name}}
                                            else
                                                option(value="{{t.name}}") {{t.name}}
                        div.col-md-6
                            div.form-group
                                label.col-lg-2.control-label By gene confidence match
                                div.col-lg-10
                                    select(name="gene").form-control
                                        option(value="") Show all
                                        for g in gene_pres_options
                                            if g.0 == gene
                                                option(value="{{g.0}}", selected="selected") {{g.1}}
                                            else
                                                option(value="{{g.0}}") {{g.1}}
                        div.col-md-12
                            button(type="submit").btn.btn-default.pull-right Apply Filter
                {% render_table results 'custom_table.html' %}
                ul.pagination.pagination-lg
                    li: a(href="{% querystring results.prefixed_page_field=1 %}") &laquo;
                    if results.page.previous_page_number >= 1
                        li: a(href="{% querystring results.prefixed_page_field=results.page.previous_page_number %}") &lsaquo;
                    for p in pages
                        if p == results.number
                            li.active: a(href="{% querystring results.prefixed_page_field=p %}")= p
                        else
                            li: a(href="{% querystring results.prefixed_page_field=p %}")= p
                    if results.page.next_page_number <= results.paginator.num_pages
                        li: a(href="{% querystring results.prefixed_page_field=results.page.next_page_number %}") &rsaquo;
                    li: a(href="{% querystring results.prefixed_page_field=results.paginator.num_pages %}") &raquo;
